@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-space-grotesk: "Space Grotesk", sans-serif;

  /* Color */
  --p-c-blue: hsl(249, 99%, 64%);
  --p-c-purple: hsl(278, 94%, 30%);
  --p-c-red: hsl(0, 100%, 66%);
  --n-c-white: hsl(0, 0%, 100%);
  --n-c-light-grayish-violet: hsl(270, 3%, 87%);
  --n-c-dark-grayish-violet: hsl(279, 6%, 55%);
  --n-c-very-dark-violet: hsl(278, 68%, 11%);

  /* Fonts */
  --p-font-size: 1.8rem;
  --label-font-size: 1.4rem;
  --button-font-size: 1.8rem;
  --span-font-size: 1.2rem;
  --h5-font-size: 2.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
}

p,
button,
span,
h5,
input {
  font-family: var(--font-space-grotesk);
}
p {
  font-size: var(--p-font-size);
}
h5 {
  font-size: var(--h5-font-size);
}
span {
  font-size: var(--span-font-size);
}
a {
  color: inherit;
  text-decoration: none;
}
