.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.left {
  min-height: 30%;
  background: linear-gradient(
    90deg,
    var(--p-c-purple) 0%,
    var(--p-c-blue) 100%
  );
}
.creditCardContainer {
  position: relative;
  margin: 2rem;
  height: 100%;
  max-width: 50rem;
}
.cardFront {
  position: absolute;
  z-index: 50;
  top: 10rem;
  width: 80%;
}
.cardFrontContent {
  position: absolute;
  top: 0;
  padding: 2rem;
  color: white;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-template-rows: 1fr 1fr 30%;
}
.cardFrontContent img {
  grid-column: 1 / span 2;
}
.cardFrontContent p {
  grid-row: 2 / 3;
  grid-column: 1 / span 2;
  align-self: flex-end;
}
.cardFrontContent span {
  align-self: flex-end;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.cardFrontContent span:last-child {
  justify-self: end;
}
.cardBack {
  position: absolute;
  z-index: 25;
  width: 80%;
  top: 0;
  right: 0;
}
.cardBackContent {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.cardBackContent p {
  font-size: var(--span-font-size);
  color: var(--n-c-white);
  position: absolute;
  z-index: 30;
  top: 43%;
  right: 12%;
}
.right {
  min-height: 70%;
  background-color: var(--n-c-white);
  display: flex;
  align-items: flex-end;
}
.cardForm {
  height: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  max-height: 38rem;
  gap: 1rem;
}
.cardForm p {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-rows: 3rem 4rem;
  position: relative;
}
.cardForm p span{
  position: absolute;
  display: flex;
  gap: .5rem;
  right: 0;
  justify-content: flex-end;
  align-items: center;
  bottom: -.5rem;
  color: var(--p-c-red);
}
.cardForm p:nth-child(3) {
  grid-column: 1 / span 1;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3rem 4rem;
}
.cardForm p:nth-child(3) label {
  grid-column: 1 / span 2;
}
.cardForm p:nth-child(4) {
  grid-column: 2 / span 1;
}
.cardForm button {
  grid-column: 1 / span 2;
}